<?xml version='1.0' encoding='utf-8'?>
<widget id="suki.cart.android"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>SukiCart</name>

    <description>
        Your Trusted Online Shop
    </description>

    <author email="jeszapanta9@gmail.com"
            href="https://jeszapanta.vercel.app/">
        Jessel Zapanta
    </author>

    <content src="index.html" />

    <!-- Allow API + images -->
    <access origin="*" />

    <!-- Allow external navigation -->
    <allow-navigation href="https://*/*" />

    <!-- Allow opening external links -->
    <allow-intent href="https://*/*" />
    <allow-intent href="sukicart:*" />

    <preference name="CustomURLSchemePluginClearsAndroidIntent" value="true" />

    <!-- App icon -->
    <icon src="res/suki-cart-logo-home.png" />

    <!-- Android -->
    <platform name="android">

        <preference name="AndroidXEnabled" value="true" />
        <preference name="GradlePluginGoogleServicesEnabled" value="true" />

        <preference name="android-compileSdkVersion" value="34" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-minSdkVersion" value="24" />

        <!-- WebView debugging -->
        <preference name="android-webview-debugging-enabled" value="true" />

    </platform>

</widget>
